	       body {
            font-family: "Microsoft Yahei", "PingFang", "Arial";
            text-align: center;
        }

        p {
            line-height: 1.5;
            font-size: 20px;
            color: #212121;
            font-weight: 300;
            text-align: left;
        }
        h1 {
            line-height: 1.5;
            font-size: 30px;
            color: #212121;
            font-weight: 300;
            text-align: left;
        }

        @media screen and (min-width: 1024px) {
            body {
                width: 1000px;
                margin: 0 auto;
                
            }

            .main {
                border-left: 1px solid #dcddde;
                border-right: 1px solid #dcddde;
                
            }

            .page-content {
                margin-left: 40px;
                margin-right: 40px;
                padding-top: 40px;
            }

            .footer {
                margin-top: 135px;
            }

        }
